<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

	<Identity
    Name="53949MichaelXFoxGordeev.GUT.Schedule"
    Publisher="CN=FD7A34DD-FE4D-4D7D-9D33-2DA9EBBE7725"
    Version="0.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="ea5f6ab0-1992-40f5-b89c-11fc3a97ae9f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>GUT.Schedule</DisplayName>
		<PublisherDisplayName>Michael &quot;XFox&quot; Gordeev</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="GUT.Schedule.UWP.App">
			<uap:VisualElements
        DisplayName="ms-resource:appDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:appDisplayDescription"
        BackgroundColor="#FF8000">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#FF8000"/>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<uap:Capability Name="appointments"/>
	</Capabilities>
</Package>